$primary: #38CFFF;
$secondary: #ADADAD;
$border-color: #ECECEC;
$placeholder: #CCCCCC;
$danger: red;

$border-radius-s: 2px;
$border-radius-m: 4px;

$font-size-s: 12px;
$font-size-m: 14px;

$font-weigth-r: 400;
$font-weigth-m: 500;
$font-weigth-sb: 600;

$screen-sm-s: 378px;
$screen-sm-m: 478px;
$screen-sm-l: 578px;

$offset: 10px;

